---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Home</h1>
  <p>Welcome to my Astro site 🚀</p>

  <div class="holder">
  	<button class="btn">I am a button</button>
  </div>
</Layout>